.tpItemPage * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.tpItemPage::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.tpItemPage::before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.tpItemPage .clearfix::after {
  content: "";
  display: table;
  line-height: 0;
}
.tpItemPage .clearfix::before {
  content: "";
  display: table;
  line-height: 0;
}
.tpItemPage .reset-heading {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  clear: none;
  display: block;
  float: none;
  margin: 0;
  padding: 0;
  position: static;
  width: auto;
}
.tpItemPage .tp-item-tools .btn-group.open .dropdown-toggle {
  box-shadow: none;
}
.tpItemPage .tp-item-tools .btn {
  background: #f9f9f9;
  border: 1px solid #ebebeb;
  box-shadow: none;
}
.tpItemPage .tpHead {
  border: 1px solid #ebebeb;
  border-radius: 3px 3px 0 0;
  padding: 15px;
}
.tpItemPage .tpHead .tpTitle {
  font-size: 26px;
  line-height: 1.2em;
}
.tpItemPage .tpHead .muted {
  color: #8b8b8b;
}
.tpItemPage .tpHead .tpMeta {
  margin: 10px 0 0;
}
.tpItemPage .tpHead .tpMeta div {
  display: inline-block;
  line-height: 1;
  margin: 0 10px 0 0;
  vertical-align: middle;
}
.tpItemPage .tpBody {
  border-color: currentcolor #ebebeb #ebebeb;
  border-image: none;
  border-radius: 0 0 3px 3px;
  border-style: none solid solid;
  border-width: 0 1px 1px;
  padding: 15px;
}
.tpItemPage .tpBody .tpArticleMedia {
  display: block;
  margin-bottom: 15px;
}
.tpItemPage .tpBody .tpVote {
  display: block;
  line-height: 1;
  vertical-align: middle;
  margin-top: 15px;
}
.tpItemPage .tpBody .tpVote .content_rating a.rating-item {
  color: #ffca28;
}
.tpItemPage .tpBody .tpVote .content_rating .rating > .rating-item:hover span::before {
  content: "\f005";
  color: #ffca28;
}
.tpItemPage .tpBody .tpVote .content_rating .rating > .rating-item:hover::before {
  content: "\f005";
  color: #ffca28;
}
.tpItemPage .tpBody .tpVote .content_rating .rating > .rating-item:hover.tpItemPage .tpBody .tpVote .content_rating .rating > .rating-item ~ .rating-item::before {
  content: "\f005";
  color: #ffca28;
}
.tpItemPage .tpBody .tpVote .content_rating .rating > .rating-item:hover.tpItemPage .tpBody .tpVote .content_rating .rating > .rating-item ~ a span::before {
  content: "\f005";
  color: #ffca28;
}
.tpItemPage .tpBody .tpVote .content_rating .rating > .voted::before {
  content: "\f005";
  color: #ffca28;
}
.tpItemPage .tpBody .tpVote .content_rating .TzVote-count {
  font-size: 100%;
  vertical-align: text-top;
}
.tpItemPage .tpBody .tpAttachment {
  border: 1px solid #ebebeb;
  border-radius: 3px;
  margin-top: 20px;
}
.tpItemPage .tpBody .tpAttachment .tpAttachment-title {
  margin: 12px 15px;
}
.tpItemPage .tpBody .tpAttachment ul.attachments {
  border-top: 1px solid #ebebeb;
  margin-bottom: 0;
}
.tpItemPage .tpBody .tpAttachment ul.attachments li {
  padding: 8px 15px;
  border-bottom: 1px solid #ebebeb;
}
.tpItemPage .tpBody .tpAttachment ul.attachments li a {
  margin-left: 3px;
}
.tpItemPage .tpBody .tpAttachment ul.attachments li i {
  font-size: 90%;
}
.tpItemPage .tpBody .tpArticleTag .title {
  font-weight: 700;
}
.tpItemPage .tpBody .tpArticleExtraField {
  margin-top: 15px;
}
.tpItemPage .tpBody .tpArticleExtraField ul.tpExtraFields li.tp_extrafield-item {
  border-bottom: 1px solid #ebebeb;
}
.tpItemPage .tpBody .tpArticleExtraField ul.tpExtraFields li.tp_extrafield-item div {
  display: inline-block;
}
.tpItemPage .tpBody .tpArticleExtraField ul.tpExtraFields li.tp_extrafield-item .value-list li {
  display: inline-block;
  padding: 0;
  border: none;
  margin-left: 3px;
}
.tpItemPage .tpBody .tpArticleExtraField ul.tpExtraFields li.tp_extrafield-item .value-list li::after {
  content: ",";
}
.tpItemPage .tpBody .tpArticleExtraField ul.tpExtraFields li.tp_extrafield-item .value-list li:last-child::after {
  content: "";
}
.tpItemPage .tpBody .tpPortfolioLink a {
  padding: 15px 0;
  text-align: center;
  display: block;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  margin: 15px 0 0;
  background: #fff;
  font-size: 120%;
  font-weight: 700;
}
.tpItemPage .tpBody .tpPortfolioLink a:hover {
  background: #f5f5f5;
}
.tpItemPage .tpAddons {
  margin-top: 15px;
}
.tpItemPage .tpAddons .tpGooglemap {
  border-radius: 3px;
  margin-top: 15px;
  padding: 10px;
  border: 1px solid #ebebeb;
}
.tpItemPage .tpComment {
  margin-top: 15px;
}
.tpItemPage .tpRelated {
  margin-top: 15px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  background: #f9f9f9;
}
.tpItemPage .tpRelated .tpRelatedTitle {
  margin: 12px 15px;
}
.tpItemPage .tpRelated ul.related {
  border-top: 1px solid #ebebeb;
  margin-bottom: 0;
}
.tpItemPage .tpRelated ul.related li {
  padding: 8px 15px;
  border-bottom: 1px solid #ebebeb;
  background: #fff;
}
.tpItemPage .tpRelated ul.related li a {
  margin-left: 3px;
}
.tpItemPage .tpRelated ul.related li i {
  font-size: 90%;
  color: #939393;
}
.tpItemPage .tpArticleAuthor {
  margin-top: 20px;
}
.tpItemPage .tpArticleAuthor h3.tpArticleAuthorTitle {
  border-bottom: 2px solid #d0d0d0;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  margin: 20px 0;
  padding: 10px 0;
  text-transform: uppercase;
}
.tpItemPage .tpArticleAuthor .AuthorAvatar {
  width: 60px;
  height: 60px;
}
.tpItemPage .tpArticleAuthor .AuthorAvatar img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.tpItemPage .tpArticleAuthor .AuthorAvatar.tp-avatar-default {
  display: table;
  border-radius: 5px;
}
.tpItemPage .tpArticleAuthor .AuthorAvatar.tp-avatar-default .tpSymbol {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 25px;
  color: #ffffff;
}
.tpItemPage .tpArticleAuthor .tpavatar--bg-1 {
  background-color: #ffcdd2;
}
.tpItemPage .tpArticleAuthor .tpavatar--bg-1:hover {
  background-color: #ffcdd2;
}
.tpItemPage .tpArticleAuthor .tpavatar--bg-2 {
  background-color: #e1bee7;
}
.tpItemPage .tpArticleAuthor .tpavatar--bg-2:hover {
  background-color: #e1bee7;
}
.tpItemPage .tpArticleAuthor .tpavatar--bg-3 {
  background-color: #bbdefb;
}
.tpItemPage .tpArticleAuthor .tpavatar--bg-3:hover {
  background-color: #bbdefb;
}
.tpItemPage .tpArticleAuthor .tpavatar--bg-4 {
  background-color: #b2dfdb;
}
.tpItemPage .tpArticleAuthor .tpavatar--bg-4:hover {
  background-color: #b2dfdb;
}
.tpItemPage .tpArticleAuthor .tpavatar--bg-5 {
  background-color: #ffcc80;
}
.tpItemPage .tpArticleAuthor .tpavatar--bg-5:hover {
  background-color: #ffcc80;
}
.tpItemPage .tpArticleAuthor .tpAuthorContainer {
  display: table;
  height: 60px;
}
.tpItemPage .tpArticleAuthor .tpAuthorContainer .tpAuthorInfo {
  margin-right: 10px;
}
.tpItemPage .tpArticleAuthor .tpAuthorContainer .cell-col {
  display: table-cell;
  vertical-align: middle;
}
.tpItemPage .tpArticleAuthor .tpAuthorContainer .SocialLink a {
  color: #8b8b8b;
}
.tpItemPage .tpArticleAuthor .AuthorDescription {
  margin-top: 10px;
}
.tplgaia * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.tplgaia::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.tplgaia::before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.tplgaia .tpFilter {
  margin-bottom: 15px;
}
.tplgaia .tpFilter #filter {
  text-align: center;
}
.tplgaia .tpFilter #filter a.tpFilterItem {
  transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition-delay: 50ms;
  color: #777;
  text-decoration: none;
  margin-left: 40px;
  font-size: 15px;
  outline: 0;
  padding: 3px 0;
}
.tplgaia .tpFilter #filter a.tpFilterItem:first-child {
  margin-left: 0;
}
.tplgaia .tpFilter #filter a.tpFilterItem:hover {
  border-bottom: 1px solid #fbc441;
}
.tplgaia .tpFilter #filter .selected {
  border-bottom: 1px solid #fbc441;
  background: 0 0;
}
.tplgaia .gaia-items {
  margin: 0 -10px;
}
.tplgaia .tp-item-box-container {
  padding: 10px;
}
.tplgaia .tp-item-box-container .tp-thumb {
  position: relative;
}
.tplgaia .tp-item-box-container .tp-thumb .tp-item-tools {
  margin: 15px 8px 0 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 11;
  opacity: 0;
}
.tplgaia .tp-item-box-container .tp-thumb .tp-item-tools .btn {
  background: 0 0;
  box-shadow: none;
  color: #222;
  border-color: transparent;
}
.tplgaia .tp-item-box-container .tp-thumb .tpPortfolioDescription {
  position: absolute;
  margin: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  display: block;
  opacity: 0;
  z-index: 10;
  visibility: visible;
  transition: all 250ms ease-in-out;
}
.tplgaia .tp-item-box-container .tp-thumb .tpPortfolioDescription .tpInfo {
  color: #fff;
  padding: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.tplgaia .tp-item-box-container .tp-thumb .tpPortfolioDescription .tpInfo .tpMeta div {
  display: inline-block;
  line-height: 1.3;
  margin: 0 10px 0 0;
  vertical-align: middle;
}
.tplgaia .tp-item-box-container .tp-thumb .tpPortfolioDescription .tpInfo .tpMeta div a {
  color: #898989;
}
.tplgaia .tp-item-box-container .tp-thumb .tpPortfolioDescription .tpInfo .TzPortfolioTitle {
  font-size: 19px;
  line-height: 1.1;
  text-transform: uppercase;
  margin: 0 0 7px;
}
.tplgaia .tp-item-box-container .tp-thumb .tpPortfolioDescription .tpInfo .TzPortfolioTitle a {
  text-decoration: none;
  color: #222;
}
.tplgaia .tp-item-box-container .tp-thumb .tpArticleMedia img {
  width: 100%;
}
.tplgaia .tp-item-box-container .tp-thumb .tpArticleMedia .tpTools {
  transition: all 250ms ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0;
}
.tplgaia .tp-item-box-container .tp-thumb .tpArticleMedia .tpTools .tpZoom {
  background: #000 none repeat scroll 0 0;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  height: 50px;
  margin: 30px;
  padding: 15px 0;
  text-align: center;
  font-size: 13px;
  width: 50px;
  line-height: 18px;
}
.tplgaia .tp-item-box-container .tp-thumb .tpArticleMedia .tpTools .tpZoom figure {
  display: none;
}
.tplgaia .tp-item-box-container .tp-thumb:hover .tpPortfolioDescription {
  opacity: 1;
}
.tplgaia .tp-item-box-container .tp-thumb:hover .tpTools {
  opacity: 1;
  margin: 10px;
}
.tplgaia .tp-item-box-container .tp-thumb:hover .tp-item-tools {
  opacity: 1;
}
.tplgaia #tz_append {
  margin: 15px 0;
}
.tplgaia #tz_append a {
  border-color: #ebebeb;
  text-transform: uppercase;
  font-size: 100%;
  font-weight: 700;
  padding: 10px 0;
  background: #fff;
}
.tpCategories * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.tpCategories::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.tpCategories::before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.tpCategories .reset-heading {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  clear: none;
  display: block;
  float: none;
  margin: 0;
  padding: 0;
  position: static;
  width: auto;
}
.tpCategories .tpCategoryRow {
  margin: 15px 0;
}
.tpCategories .tpCategory {
  border: 1px solid #ebebeb;
  padding: 20px;
  display: table;
  width: 100%;
}
.tpCategories .tpCategory .tpMedia {
  display: table-cell;
  width: 120px;
  height: 100px;
  padding-right: 20px;
}
.tpCategories .tpCategory .tpMedia img {
  width: 100%;
  height: 100%;
}
.tpCategories .tpCategory .tpInfo {
  display: table-cell;
  vertical-align: middle;
}
.tpCategories .tpCategory .tpInfo h3 {
  margin-bottom: 7px;
}
.tpCategories .tpCategory .tpInfo h3 a {
  font-size: 21px;
}
.tpCategories .tpCategory .tpInfo h3 .collapsed i.tp-caret-up::before {
  content: "\f0d7";
}
.tpTag * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.tpTag::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.tpTag::before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.tpTag .TzTagHeading {
  margin: 20px 0;
}
.tpTag .TzLetters {
  padding: 5px 10px;
  border: 1px dashed #ebebeb;
  background: #f9f9f9;
  border-radius: 3px;
}
.tpTag .TzLetters .nav {
  margin: 0;
}
.tpTag .TzLetters li a {
  padding: 3px 7px;
}
.tpTag .TzItem {
  margin: 20px 0 0;
}
.tpTag .TzItem .reset-heading {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  clear: none;
  display: block;
  float: none;
  margin: 0;
  padding: 0;
  position: static;
  width: auto;
}
.tpTag .TzItem .tpHead {
  border: 1px solid #ebebeb;
  border-radius: 3px 3px 0 0;
  padding: 15px;
}
.tpTag .TzItem .tpHead .tpTitle {
  font-size: 21px;
  line-height: 1.2em;
}
.tpTag .TzItem .tpHead .muted {
  color: #8b8b8b;
}
.tpTag .TzItem .tpHead .tpMeta {
  margin: 10px 0 0;
}
.tpTag .TzItem .tpHead .tpMeta div {
  display: inline-block;
  line-height: 1;
  margin: 0 10px 0 0;
  vertical-align: middle;
}
.tpTag .TzItem .tpBody {
  border-color: currentcolor #ebebeb #ebebeb;
  border-image: none;
  border-radius: 0 0 3px 3px;
  border-style: none solid solid;
  border-width: 0 1px 1px;
  padding: 15px;
}
.tpTag .TzItem .tpBody .tpArticleMedia {
  display: block;
  margin-bottom: 15px;
}
.tpTag .TzItem .tpBody .tpVote {
  display: block;
  line-height: 1;
  vertical-align: middle;
  margin-top: 15px;
}
.tpTag .TzItem .tpBody .tpVote .content_rating a.rating-item {
  color: #ffca28;
}
.tpTag .TzItem .tpBody .tpVote .content_rating .rating > .rating-item:hover span::before {
  content: "\f005";
  color: #ffca28;
}
.tpTag .TzItem .tpBody .tpVote .content_rating .rating > .rating-item:hover::before {
  content: "\f005";
  color: #ffca28;
}
.tpTag .TzItem .tpBody .tpVote .content_rating .rating > .rating-item:hover.tpTag .TzItem .tpBody .tpVote .content_rating .rating > .rating-item ~ .rating-item::before {
  content: "\f005";
  color: #ffca28;
}
.tpTag .TzItem .tpBody .tpVote .content_rating .rating > .rating-item:hover.tpTag .TzItem .tpBody .tpVote .content_rating .rating > .rating-item ~ a span::before {
  content: "\f005";
  color: #ffca28;
}
.tpTag .TzItem .tpBody .tpVote .content_rating .rating > .voted::before {
  content: "\f005";
  color: #ffca28;
}
.tpTag .TzItem .tpBody .tpVote .content_rating .TzVote-count {
  font-size: 100%;
  vertical-align: text-top;
}
.tpTag .TzItem .tpBody .tpArticleExtraField {
  margin-top: 15px;
}
.tpTag .TzItem .tpBody .tpArticleExtraField ul.tpExtraFields li.tp_extrafield-item {
  border-bottom: 1px solid #ebebeb;
}
.tpTag .TzItem .tpBody .tpArticleExtraField ul.tpExtraFields li.tp_extrafield-item div {
  display: inline-block;
}
.tpTag .TzItem .tpBody .charity {
  border: 1px solid #ebebeb;
  border-radius: 3px;
  margin-top: 15px;
  padding: 15px;
}
.tpTag .TzItem .tpBody .tpDescription {
  margin-top: 15px;
}
.tpTag .TzItem .tpLink {
  padding: 20px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
}
.tpTag .TzItem .tpLink .TzBlogMedia {
  margin: 0;
}
.tpBlog * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.tpBlog::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.tpBlog::before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.tpBlog .TzLetters {
  padding: 5px 10px;
  border: 1px dashed #ebebeb;
  background: #f9f9f9;
  border-radius: 3px;
}
.tpBlog .TzLetters .nav {
  margin: 0;
}
.tpBlog .TzLetters li a {
  padding: 3px 7px;
}
.tpBlog .tp-item-tools .btn-group.open .dropdown-toggle {
  box-shadow: none;
}
.tpBlog .tp-item-tools .btn {
  background: #f9f9f9;
  border: 1px solid #ebebeb;
  box-shadow: none;
}
.tpBlog .TzItemsRow .date-group {
  margin: 25px 0 10px;
}
.tpBlog .TzItemsRow .date-group .date {
  background: #ffcc80;
  padding: 5px 10px;
  border-radius: 3px;
  color: #fff;
  border: none;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}
.tpBlog .TzItemsRow .TzItem {
  margin: 20px 0 0;
}
.tpBlog .TzItemsRow .TzItem .reset-heading {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  clear: none;
  display: block;
  float: none;
  margin: 0;
  padding: 0;
  position: static;
  width: auto;
}
.tpBlog .TzItemsRow .TzItem .tpHead {
  border: 1px solid #ebebeb;
  border-radius: 3px 3px 0 0;
  padding: 15px;
}
.tpBlog .TzItemsRow .TzItem .tpHead .tpTitle {
  font-size: 21px;
  line-height: 1.2em;
}
.tpBlog .TzItemsRow .TzItem .tpHead .muted {
  color: #8b8b8b;
}
.tpBlog .TzItemsRow .TzItem .tpHead .tpMeta {
  margin: 10px 0 0;
}
.tpBlog .TzItemsRow .TzItem .tpHead .tpMeta div {
  display: inline-block;
  line-height: 1;
  margin: 0 10px 0 0;
  vertical-align: middle;
}
.tpBlog .TzItemsRow .TzItem .tpBody {
  border-color: currentcolor #ebebeb #ebebeb;
  border-image: none;
  border-radius: 0 0 3px 3px;
  border-style: none solid solid;
  border-width: 0 1px 1px;
  padding: 15px;
}
.tpBlog .TzItemsRow .TzItem .tpBody .tpArticleMedia {
  display: block;
  margin-bottom: 15px;
}
.tpBlog .TzItemsRow .TzItem .tpBody .tpVote {
  display: block;
  line-height: 1;
  vertical-align: middle;
  margin-top: 15px;
}
.tpBlog .TzItemsRow .TzItem .tpBody .tpVote .content_rating a.rating-item {
  color: #ffca28;
}
.tpBlog .TzItemsRow .TzItem .tpBody .tpVote .content_rating .rating > .rating-item:hover span::before {
  content: "\f005";
  color: #ffca28;
}
.tpBlog .TzItemsRow .TzItem .tpBody .tpVote .content_rating .rating > .rating-item:hover::before {
  content: "\f005";
  color: #ffca28;
}
.tpBlog .TzItemsRow .TzItem .tpBody .tpVote .content_rating .rating > .rating-item:hover.tpBlog .TzItemsRow .TzItem .tpBody .tpVote .content_rating .rating > .rating-item ~ .rating-item::before {
  content: "\f005";
  color: #ffca28;
}
.tpBlog .TzItemsRow .TzItem .tpBody .tpVote .content_rating .rating > .rating-item:hover.tpBlog .TzItemsRow .TzItem .tpBody .tpVote .content_rating .rating > .rating-item ~ a span::before {
  content: "\f005";
  color: #ffca28;
}
.tpBlog .TzItemsRow .TzItem .tpBody .tpVote .content_rating .rating > .voted::before {
  content: "\f005";
  color: #ffca28;
}
.tpBlog .TzItemsRow .TzItem .tpBody .tpVote .content_rating .TzVote-count {
  font-size: 100%;
  vertical-align: text-top;
}
.tpBlog .TzItemsRow .TzItem .tpBody .tpArticleExtraField {
  margin-top: 15px;
}
.tpBlog .TzItemsRow .TzItem .tpBody .tpArticleExtraField ul.tpExtraFields li.tp_extrafield-item {
  border-bottom: 1px solid #ebebeb;
}
.tpBlog .TzItemsRow .TzItem .tpBody .tpArticleExtraField ul.tpExtraFields li.tp_extrafield-item div {
  display: inline-block;
}
.tpBlog .TzItemsRow .TzItem .tpBody .charity {
  border: 1px solid #ebebeb;
  border-radius: 3px;
  margin-top: 15px;
  padding: 15px;
}
.tpBlog .TzItemsRow .TzItem .tpBody .tpDescription {
  margin-top: 15px;
}
.tpBlog .TzItemsRow .TzItem .tpLink {
  padding: 20px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
}
.tpBlog .TzItemsRow .TzItem .tpLink .TzBlogMedia {
  margin: 0;
}
.tpSearch * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.tpSearch::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.tpSearch::before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.tpSearch #searchForm .form-group {
  display: table;
  position: relative;
  border-collapse: separate;
  width: 100%;
}
.tpSearch #searchForm .form-group .form-control {
  display: table-cell;
  width: 100%;
  margin-bottom: 0;
  vertical-align: middle;
  float: left;
  height: auto;
  z-index: 1;
}
.tpSearch #searchForm .form-group .button-group {
  display: table-cell;
  position: absolute;
  white-space: nowrap;
  vertical-align: middle;
  right: 0;
  z-index: 2;
}
.tpSearch .tp-item-tools .btn-group.open .dropdown-toggle {
  box-shadow: none;
}
.tpSearch .tp-item-tools .btn {
  background: #f9f9f9;
  border: 1px solid #ebebeb;
  box-shadow: none;
}
.tpSearch .TzItemsRow .TzItem {
  margin: 20px 0 0;
}
.tpSearch .TzItemsRow .TzItem .reset-heading {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  clear: none;
  display: block;
  float: none;
  margin: 0;
  padding: 0;
  position: static;
  width: auto;
}
.tpSearch .TzItemsRow .TzItem .tpHead {
  border: 1px solid #ebebeb;
  border-radius: 3px 3px 0 0;
  padding: 15px;
}
.tpSearch .TzItemsRow .TzItem .tpHead .tpTitle {
  font-size: 21px;
  line-height: 1.2em;
}
.tpSearch .TzItemsRow .TzItem .tpHead .muted {
  color: #8b8b8b;
}
.tpSearch .TzItemsRow .TzItem .tpHead .tpMeta {
  margin: 10px 0 0;
}
.tpSearch .TzItemsRow .TzItem .tpHead .tpMeta div {
  display: inline-block;
  line-height: 1;
  margin: 0 10px 0 0;
  vertical-align: middle;
}
.tpSearch .TzItemsRow .TzItem .tpBody {
  border-color: currentcolor #ebebeb #ebebeb;
  border-image: none;
  border-radius: 0 0 3px 3px;
  border-style: none solid solid;
  border-width: 0 1px 1px;
  padding: 15px;
}
.tpSearch .TzItemsRow .TzItem .tpBody .tpArticleMedia {
  display: block;
  margin-bottom: 15px;
}
.tpSearch .TzItemsRow .TzItem .tpBody .tpVote {
  display: block;
  line-height: 1;
  vertical-align: middle;
  margin-top: 15px;
}
.tpSearch .TzItemsRow .TzItem .tpBody .tpVote .content_rating a.rating-item {
  color: #ffca28;
}
.tpSearch .TzItemsRow .TzItem .tpBody .tpVote .content_rating .rating > .rating-item:hover span::before {
  content: "\f005";
  color: #ffca28;
}
.tpSearch .TzItemsRow .TzItem .tpBody .tpVote .content_rating .rating > .rating-item:hover::before {
  content: "\f005";
  color: #ffca28;
}
.tpSearch .TzItemsRow .TzItem .tpBody .tpVote .content_rating .rating > .rating-item:hover.tpSearch .TzItemsRow .TzItem .tpBody .tpVote .content_rating .rating > .rating-item ~ .rating-item::before {
  content: "\f005";
  color: #ffca28;
}
.tpSearch .TzItemsRow .TzItem .tpBody .tpVote .content_rating .rating > .rating-item:hover.tpSearch .TzItemsRow .TzItem .tpBody .tpVote .content_rating .rating > .rating-item ~ a span::before {
  content: "\f005";
  color: #ffca28;
}
.tpSearch .TzItemsRow .TzItem .tpBody .tpVote .content_rating .rating > .voted::before {
  content: "\f005";
  color: #ffca28;
}
.tpSearch .TzItemsRow .TzItem .tpBody .tpVote .content_rating .TzVote-count {
  font-size: 100%;
  vertical-align: text-top;
}
.tpSearch .TzItemsRow .TzItem .tpBody .tpArticleExtraField {
  margin-top: 15px;
}
.tpSearch .TzItemsRow .TzItem .tpBody .tpArticleExtraField ul.tpExtraFields li.tp_extrafield-item {
  border-bottom: 1px solid #ebebeb;
}
.tpSearch .TzItemsRow .TzItem .tpBody .tpArticleExtraField ul.tpExtraFields li.tp_extrafield-item div {
  display: inline-block;
}
.tpSearch .TzItemsRow .TzItem .tpBody .charity {
  border: 1px solid #ebebeb;
  border-radius: 3px;
  margin-top: 15px;
  padding: 15px;
}
.tpSearch .TzItemsRow .TzItem .tpBody .tpDescription {
  margin-top: 15px;
}
.tpSearch .TzItemsRow .TzItem .tpLink {
  padding: 20px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
}
.tpSearch .TzItemsRow .TzItem .tpLink .TzBlogMedia {
  margin: 0;
}
.tpUser * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.tpUser::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.tpUser::before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.tpUser .reset-heading {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  clear: none;
  display: block;
  float: none;
  margin: 0;
  padding: 0;
  position: static;
  width: auto;
}
.tpUser .tp-item-tools .btn-group.open .dropdown-toggle {
  box-shadow: none;
}
.tpUser .tp-item-tools .btn {
  background: #f9f9f9;
  border: 1px solid #ebebeb;
  box-shadow: none;
}
.tpUser .tpArticleAuthor {
  margin-top: 20px;
}
.tpUser .tpArticleAuthor h3.tpArticleAuthorTitle {
  border-bottom: 2px solid #d0d0d0;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  margin: 20px 0;
  padding: 10px 0;
  text-transform: uppercase;
}
.tpUser .tpArticleAuthor .AuthorAvatar {
  width: 60px;
  height: 60px;
}
.tpUser .tpArticleAuthor .AuthorAvatar img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.tpUser .tpArticleAuthor .AuthorAvatar.tp-avatar-default {
  display: table;
  border-radius: 5px;
}
.tpUser .tpArticleAuthor .AuthorAvatar.tp-avatar-default .tpSymbol {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 25px;
  color: #ffffff;
}
.tpUser .tpArticleAuthor .tpavatar--bg-1 {
  background-color: #ffcdd2;
}
.tpUser .tpArticleAuthor .tpavatar--bg-1:hover {
  background-color: #ffcdd2;
}
.tpUser .tpArticleAuthor .tpavatar--bg-2 {
  background-color: #e1bee7;
}
.tpUser .tpArticleAuthor .tpavatar--bg-2:hover {
  background-color: #e1bee7;
}
.tpUser .tpArticleAuthor .tpavatar--bg-3 {
  background-color: #bbdefb;
}
.tpUser .tpArticleAuthor .tpavatar--bg-3:hover {
  background-color: #bbdefb;
}
.tpUser .tpArticleAuthor .tpavatar--bg-4 {
  background-color: #b2dfdb;
}
.tpUser .tpArticleAuthor .tpavatar--bg-4:hover {
  background-color: #b2dfdb;
}
.tpUser .tpArticleAuthor .tpavatar--bg-5 {
  background-color: #ffcc80;
}
.tpUser .tpArticleAuthor .tpavatar--bg-5:hover {
  background-color: #ffcc80;
}
.tpUser .tpArticleAuthor .tpAuthorContainer {
  display: table;
  height: 60px;
}
.tpUser .tpArticleAuthor .tpAuthorContainer .tpAuthorInfo {
  margin-right: 10px;
}
.tpUser .tpArticleAuthor .tpAuthorContainer .cell-col {
  display: table-cell;
  vertical-align: middle;
}
.tpUser .tpArticleAuthor .tpAuthorContainer .SocialLink a {
  color: #8b8b8b;
}
.tpUser .tpArticleAuthor .AuthorDescription {
  margin-top: 10px;
}
.tpUser .TzItemsRow .TzItem {
  margin: 20px 0 0;
}
.tpUser .TzItemsRow .TzItem .tpHead {
  border: 1px solid #ebebeb;
  border-radius: 3px 3px 0 0;
  padding: 15px;
}
.tpUser .TzItemsRow .TzItem .tpHead .tpTitle {
  font-size: 21px;
  line-height: 1.2em;
}
.tpUser .TzItemsRow .TzItem .tpHead .muted {
  color: #8b8b8b;
}
.tpUser .TzItemsRow .TzItem .tpHead .tpMeta {
  margin: 10px 0 0;
}
.tpUser .TzItemsRow .TzItem .tpHead .tpMeta div {
  display: inline-block;
  line-height: 1;
  margin: 0 10px 0 0;
  vertical-align: middle;
}
.tpUser .TzItemsRow .TzItem .tpBody {
  border-color: currentcolor #ebebeb #ebebeb;
  border-image: none;
  border-radius: 0 0 3px 3px;
  border-style: none solid solid;
  border-width: 0 1px 1px;
  padding: 15px;
}
.tpUser .TzItemsRow .TzItem .tpBody .tpArticleMedia {
  display: block;
  margin-bottom: 15px;
}
.tpUser .TzItemsRow .TzItem .tpBody .tpVote {
  display: block;
  line-height: 1;
  vertical-align: middle;
  margin-top: 15px;
}
.tpUser .TzItemsRow .TzItem .tpBody .tpVote .content_rating a.rating-item {
  color: #ffca28;
}
.tpUser .TzItemsRow .TzItem .tpBody .tpVote .content_rating .rating > .rating-item:hover span::before {
  content: "\f005";
  color: #ffca28;
}
.tpUser .TzItemsRow .TzItem .tpBody .tpVote .content_rating .rating > .rating-item:hover::before {
  content: "\f005";
  color: #ffca28;
}
.tpUser .TzItemsRow .TzItem .tpBody .tpVote .content_rating .rating > .rating-item:hover.tpUser .TzItemsRow .TzItem .tpBody .tpVote .content_rating .rating > .rating-item ~ .rating-item::before {
  content: "\f005";
  color: #ffca28;
}
.tpUser .TzItemsRow .TzItem .tpBody .tpVote .content_rating .rating > .rating-item:hover.tpUser .TzItemsRow .TzItem .tpBody .tpVote .content_rating .rating > .rating-item ~ a span::before {
  content: "\f005";
  color: #ffca28;
}
.tpUser .TzItemsRow .TzItem .tpBody .tpVote .content_rating .rating > .voted::before {
  content: "\f005";
  color: #ffca28;
}
.tpUser .TzItemsRow .TzItem .tpBody .tpVote .content_rating .TzVote-count {
  font-size: 100%;
  vertical-align: text-top;
}
.tpUser .TzItemsRow .TzItem .tpBody .tpArticleExtraField {
  margin-top: 15px;
}
.tpUser .TzItemsRow .TzItem .tpBody .tpArticleExtraField ul.tpExtraFields li.tp_extrafield-item {
  border-bottom: 1px solid #ebebeb;
}
.tpUser .TzItemsRow .TzItem .tpBody .tpArticleExtraField ul.tpExtraFields li.tp_extrafield-item div {
  display: inline-block;
}
.tpUser .TzItemsRow .TzItem .tpBody .charity {
  border: 1px solid #ebebeb;
  border-radius: 3px;
  margin-top: 15px;
  padding: 15px;
}
.tpUser .TzItemsRow .TzItem .tpBody .tpDescription {
  margin-top: 15px;
}
.pswp .wrapper {
  line-height: 0;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1045;
}
/*# sourceMappingURL=template.css.map */