.flexslider {
  margin: 0;
}
.flexslider .flex-control-nav {
  bottom: 22px;
}
.flexslider .flex-caption {
  margin: 0;
}
.tp-post-featured {
  color: #f2765b;
}
.tpItemPage *,
.tpItemPage *::before,
.tpItemPage *::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.tpItemPage .clearfix::before,
.tpItemPage .clearfix::after {
  content: "";
  display: table;
  line-height: 0;
}
.tpItemPage .reset-heading {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  clear: none;
  display: block;
  float: none;
  margin: 0;
  padding: 0;
  position: static;
  width: auto;
}
.tpItemPage .tp-item-tools .btn-group.open .dropdown-toggle {
  box-shadow: none;
}
.tpItemPage .tp-item-tools .btn {
  background: #f9f9f9;
  border: 1px solid #ebebeb;
  box-shadow: none;
}
.tpItemPage .tpArticleMedia {
  display: block;
  margin-bottom: 1.5em;
}
.tpItemPage .tpArticleMedia img {
  width: 100%;
}
.tpItemPage .tpHead {
  margin-bottom: 20px;
}
.tpItemPage .tpHead .tpTitle {
  font-size: 26px;
  line-height: 1.2em;
}
.tpItemPage .tpHead .muted {
  color: #8b8b8b;
}
.tpItemPage .tpHead .tpMeta {
  margin: 10px 0 0;
}
.tpItemPage .tpHead .tpMeta div {
  display: inline-block;
  line-height: 1;
  margin: 0 10px 0 0;
  vertical-align: middle;
}
.tpItemPage .tpBody .tpVote {
  display: block;
  line-height: 1;
  vertical-align: middle;
  margin-top: 15px;
}
.tpItemPage .tpBody .tpVote .content_rating a.rating-item {
  color: #ffca28;
}
.tpItemPage .tpBody .tpVote .content_rating .rating > .rating-item:hover span::before,
.tpItemPage .tpBody .tpVote .content_rating .rating > .rating-item:hover ~ a span::before,
.tpItemPage .tpBody .tpVote .content_rating .rating > .voted::before,
.tpItemPage .tpBody .tpVote .content_rating .rating > .rating-item:hover::before,
.tpItemPage .tpBody .tpVote .content_rating .rating > .rating-item:hover ~ .rating-item::before {
  content: "\f005";
  color: #ffca28;
}
.tpItemPage .tpBody .tpVote .content_rating .TzVote-count {
  font-size: 100%;
  vertical-align: text-top;
}
.tpItemPage .tpBody .tpAttachment {
  border: 1px solid #ebebeb;
  border-radius: 3px;
  margin-top: 20px;
}
.tpItemPage .tpBody .tpAttachment .tpAttachment-title {
  margin: 12px 15px;
}
.tpItemPage .tpBody .tpAttachment ul.attachments {
  border-top: 1px solid #ebebeb;
  margin-bottom: 0;
}
.tpItemPage .tpBody .tpAttachment ul.attachments li {
  padding: 8px 15px;
  border-bottom: 1px solid #ebebeb;
}
.tpItemPage .tpBody .tpAttachment ul.attachments li a {
  margin-left: 3px;
}
.tpItemPage .tpBody .tpAttachment ul.attachments li i {
  font-size: 90%;
}
.tpItemPage .tpBody .tpArticleTag {
  margin-top: 15px;
}
.tpItemPage .tpBody .tpArticleTag .title {
  font-weight: bold;
}
.tpItemPage .tpBody .tpArticleExtraField {
  margin-top: 15px;
}
.tpItemPage .tpBody .tpArticleExtraField ul.tpExtraFields li.tp_extrafield-item {
  border-bottom: 1px solid #ebebeb;
}
.tpItemPage .tpBody .tpArticleExtraField ul.tpExtraFields li.tp_extrafield-item div {
  display: inline-block;
}
.tpItemPage .tpBody .tpArticleExtraField ul.tpExtraFields li.tp_extrafield-item .value-list li {
  display: inline-block;
  padding: 0;
  border: none;
  margin-left: 3px;
}
.tpItemPage .tpBody .tpArticleExtraField ul.tpExtraFields li.tp_extrafield-item .value-list li::after {
  content: ",";
}
.tpItemPage .tpBody .tpArticleExtraField ul.tpExtraFields li.tp_extrafield-item .value-list li:last-child::after {
  content: "";
}
.tpItemPage .tpBody .tpPortfolioLink a {
  padding: 15px 0;
  text-align: center;
  display: block;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  margin: 15px 0 0;
  background: white;
  font-size: 120%;
  font-weight: bold;
}
.tpItemPage .tpBody .tpPortfolioLink a:hover {
  background: #f5f5f5;
}
.tpItemPage .tpAddons {
  margin-top: 15px;
}
.tpItemPage .tpAddons .tpGooglemap {
  border-radius: 3px;
  margin-top: 15px;
  padding: 10px;
  border: 1px solid #ebebeb;
}
.tpItemPage .tpComment {
  margin-top: 15px;
}
.tpItemPage .tpRelated {
  margin-top: 15px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  background: #f9f9f9;
}
.tpItemPage .tpRelated .tpRelatedTitle {
  margin: 12px 15px;
}
.tpItemPage .tpRelated ul.related {
  border-top: 1px solid #ebebeb;
  margin-bottom: 0;
}
.tpItemPage .tpRelated ul.related li {
  padding: 8px 15px;
  border-bottom: 1px solid #ebebeb;
  background: #fff;
}
.tpItemPage .tpRelated ul.related li a {
  margin-left: 3px;
}
.tpItemPage .tpRelated ul.related li i {
  font-size: 90%;
  color: #939393;
}
.tpItemPage .tpArticleAuthor {
  margin-top: 20px;
}
.tpItemPage .tpArticleAuthor h3.tpArticleAuthorTitle {
  border-bottom: 2px solid #d0d0d0;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  margin: 20px 0;
  padding: 10px 0;
  text-transform: uppercase;
}
.tpItemPage .tpArticleAuthor .AuthorAvatar {
  width: 60px;
  height: 60px;
}
.tpItemPage .tpArticleAuthor .AuthorAvatar img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.tpItemPage .tpArticleAuthor .AuthorAvatar.tp-avatar-default {
  display: table;
  border-radius: 5px;
}
.tpItemPage .tpArticleAuthor .AuthorAvatar.tp-avatar-default .tpSymbol {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 25px;
  color: #ffffff;
}
.tpItemPage .tpArticleAuthor .tpavatar--bg-1 {
  background-color: #ffcdd2;
}
.tpItemPage .tpArticleAuthor .tpavatar--bg-1:hover {
  background-color: #ffcdd2;
}
.tpItemPage .tpArticleAuthor .tpavatar--bg-2 {
  background-color: #e1bee7;
}
.tpItemPage .tpArticleAuthor .tpavatar--bg-2:hover {
  background-color: #e1bee7;
}
.tpItemPage .tpArticleAuthor .tpavatar--bg-3 {
  background-color: #bbdefb;
}
.tpItemPage .tpArticleAuthor .tpavatar--bg-3:hover {
  background-color: #bbdefb;
}
.tpItemPage .tpArticleAuthor .tpavatar--bg-4 {
  background-color: #b2dfdb;
}
.tpItemPage .tpArticleAuthor .tpavatar--bg-4:hover {
  background-color: #b2dfdb;
}
.tpItemPage .tpArticleAuthor .tpavatar--bg-5 {
  background-color: #ffcc80;
}
.tpItemPage .tpArticleAuthor .tpavatar--bg-5:hover {
  background-color: #ffcc80;
}
.tpItemPage .tpArticleAuthor .tpAuthorContainer {
  display: table;
  height: 60px;
}
.tpItemPage .tpArticleAuthor .tpAuthorContainer .tpAuthorInfo {
  margin-right: 10px;
}
.tpItemPage .tpArticleAuthor .tpAuthorContainer .cell-col {
  display: table-cell;
  vertical-align: middle;
}
.tpItemPage .tpArticleAuthor .tpAuthorContainer .SocialLink a {
  color: #8b8b8b;
}
.tpItemPage .tpArticleAuthor .AuthorDescription {
  margin-top: 10px;
}
.tplzalta *,
.tplzalta *::before,
.tplzalta *::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.tplzalta .tp,
.tplzalta .tpr,
.tplzalta .tps {
  font-style: normal;
}
.tplzalta .tz_portfolio_plus_image {
  z-index: auto;
}
.tplzalta #portfolio {
  margin-left: -20px;
  margin-right: -20px;
}
.tplzalta .TzLetters {
  padding: 5px 10px;
  border: 1px dashed #ebebeb;
  background: #f9f9f9;
  border-radius: 3px;
}
.tplzalta .TzLetters .nav {
  margin: 0;
}
.tplzalta .TzLetters li a {
  padding: 3px 7px;
}
.tplzalta #tz_options .option-combo {
  margin-top: 10px;
}
.tplzalta #tz_options .option-combo a.btn-default {
  border: 1px solid #ebebeb;
  box-shadow: none;
  background: none;
}
.tplzalta #tz_options .option-combo a.selected {
  background: #f9f9f9;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  outline: none;
}
.tplzalta #tz_options .option-combo a:active {
  outline: none;
}
.tplzalta .element .TzInner {
  padding: 0;
  margin: 20px;
  line-height: inherit;
  border: none;
  position: relative;
}
.tplzalta .element .TzInner .TzArticleMedia {
  margin-bottom: 0;
}
.tplzalta .element .TzInner .TzArticleMedia > div {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}
.tplzalta .element .TzInner .TzArticleMedia > div .ImageOverlayMg {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
  height: 100%;
  display: block;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 100%;
}
.tplzalta .element .TzInner .TzArticleMedia > div .white-rounded {
  background-color: #ffffff;
  border: medium none;
  display: inline-block;
  float: none;
  font-size: 14px;
  font-weight: normal;
  height: 40px;
  line-height: 40px;
  margin: 0 2px;
  text-align: center;
  width: 40px;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), inset 0 0 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), inset 0 0 2px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), inset 0 0 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), inset 0 0 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), inset 0 0 2px rgba(0, 0, 0, 0.1);
}
.tplzalta .element .TzInner .TzArticleMedia > div .white-rounded > a {
  color: #222222;
  display: block;
  font-weight: normal;
  text-decoration: none;
}
.tplzalta .element .TzInner .TzArticleMedia > div figure {
  display: none;
}
.tplzalta .element .TzInner .TzArticleMedia > div .iconhover {
  z-index: 3;
}
.tplzalta .element .TzInner .TzArticleMedia > div .iconhover span {
  position: absolute;
}
.tplzalta .element .TzInner .TzArticleMedia > div .iconhover span:nth-of-type(1) {
  bottom: 50%;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -82px;
  visibility: hidden;
  opacity: 0;
  z-index: 3;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.tplzalta .element .TzInner .TzArticleMedia > div .iconhover span:nth-of-type(2) {
  bottom: 50%;
  top: 50%;
  right: 50%;
  margin: -20px -82px 0 0;
  visibility: hidden;
  opacity: 0;
  background-color: lightsalmon;
  color: #ffffff;
  z-index: 3;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.tplzalta .element .TzInner .TzArticleMedia > div .iconhover span:nth-of-type(2) > a {
  color: #ffffff;
}
.tplzalta .element .TzInner .TzPortfolioDescription {
  padding: 80px 30px 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=0);
  z-index: 2;
}
.tplzalta .element .TzInner .TzPortfolioDescription .TzPortfolioTitle {
  margin: 0;
  padding: 0;
  color: lightsalmon;
}
.tplzalta .element .TzInner .TzPortfolioDescription .TzPortfolioTitle a {
  color: lightsalmon;
}
.tplzalta .element .TzInner .TzPortfolioDescription .muted {
  color: #ffffff;
  font-size: 90%;
}
.tplzalta .element .TzInner .TzPortfolioDescription .muted a {
  color: #ffffff;
}
.tplzalta .element .TzInner .TzPortfolioDescription .tpMeta {
  margin: 5px 0 0;
}
.tplzalta .element .TzInner .TzPortfolioDescription .tpMeta div {
  display: inline-block;
  line-height: 1;
  margin: 0 10px 0 0;
  vertical-align: middle;
}
.tplzalta .element .TzInner .TzPortfolioDescription .charity {
  margin-top: 20px;
}
.tplzalta .element .TzInner .TzPortfolioDescription .TzPortfolioIntrotext {
  margin-top: 20px;
}
.tplzalta .element .TzInner .TzPortfolioDescription .TzPortfolioReadmore {
  border: 1px solid #ebebeb;
  box-shadow: none;
  color: #1f1f1f;
  background: none;
  margin-top: 15px;
}
.tplzalta .element .TzInner .tp-item-tools {
  margin: 0;
  padding: 12px 20px;
  background: rgba(0, 0, 0, 0.9);
  line-height: 100%;
  position: absolute;
  color: #ffffff;
  top: 10px;
  z-index: 1;
}
.tplzalta .element .TzInner .tp-item-tools .tp-list-tools {
  list-style: none;
  margin: 0;
  padding: 0;
}
.tplzalta .element .TzInner .tp-item-tools .tp-list-tools li {
  display: inline;
  margin-right: 15px;
}
.tplzalta .element .TzInner .tp-item-tools .tp-list-tools li a {
  font-size: 80%;
  color: #ffffff;
}
.tplzalta .element .TzInner .tp-item-tools .tp-list-tools li:last-child {
  margin-right: 0;
}
.tplzalta .element .TzInner:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.06);
  border-bottom-color: #4396e6;
}
.tplzalta .element .TzInner:hover .TzArticleMedia > div .iconhover span:nth-of-type(1) {
  margin: -20px 0 0 -41px;
  visibility: visible;
  opacity: 1;
}
.tplzalta .element .TzInner:hover .TzArticleMedia > div .iconhover span:nth-of-type(2) {
  margin: -20px -41px 0 0;
  visibility: visible;
  opacity: 1;
}
.tplzalta .element .TzInner:hover .TzArticleMedia > div .ImageOverlayMg {
  top: 0;
  opacity: 1;
}
.tplzalta #tz_append {
  margin: 15px 0;
}
.tplzalta #tz_append a {
  border-color: #ebebeb;
  text-transform: uppercase;
  font-size: 100%;
  font-weight: bold;
  padding: 10px 0;
  background: white;
}
.tpCategories *,
.tpCategories *::before,
.tpCategories *::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.tpCategories .reset-heading {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  clear: none;
  display: block;
  float: none;
  margin: 0;
  padding: 0;
  position: static;
  width: auto;
}
.tpCategories .tpCategoryRow {
  margin: 15px 0;
}
.tpCategories .tpCategory {
  border: 1px solid #ebebeb;
  padding: 20px;
  display: table;
  width: 100%;
}
.tpCategories .tpCategory .tpMedia {
  display: table-cell;
  width: 120px;
  height: 100px;
  padding-right: 20px;
}
.tpCategories .tpCategory .tpMedia img {
  width: 100%;
  height: 100%;
}
.tpCategories .tpCategory .tpInfo {
  display: table-cell;
  vertical-align: middle;
}
.tpCategories .tpCategory .tpInfo h3 {
  margin-bottom: 7px;
}
.tpCategories .tpCategory .tpInfo h3 a {
  font-size: 21px;
}
.tpCategories .tpCategory .tpInfo h3 .collapsed i.tp-caret-up::before {
  content: "\f0d7";
}
.tpTag *,
.tpTag *::before,
.tpTag *::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.tpTag .TzTagHeading {
  margin: 20px 0;
}
.tpTag .TzLetters {
  padding: 5px 10px;
  border: 1px dashed #ebebeb;
  background: #f9f9f9;
  border-radius: 3px;
}
.tpTag .TzLetters .nav {
  margin: 0;
}
.tpTag .TzLetters li a {
  padding: 3px 7px;
}
.tpTag .TzItem {
  margin: 20px 0 0;
}
.tpTag .TzItem .reset-heading {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  clear: none;
  display: block;
  float: none;
  margin: 0;
  padding: 0;
  position: static;
  width: auto;
}
.tpTag .TzItem .tpHead {
  border: 1px solid #ebebeb;
  border-radius: 3px 3px 0 0;
  padding: 15px;
}
.tpTag .TzItem .tpHead .tpTitle {
  font-size: 21px;
  line-height: 1.2em;
}
.tpTag .TzItem .tpHead .muted {
  color: #8b8b8b;
}
.tpTag .TzItem .tpHead .tpMeta {
  margin: 10px 0 0;
}
.tpTag .TzItem .tpHead .tpMeta div {
  display: inline-block;
  line-height: 1;
  margin: 0 10px 0 0;
  vertical-align: middle;
}
.tpTag .TzItem .tpBody {
  border-color: currentcolor #ebebeb #ebebeb;
  border-image: none;
  border-radius: 0 0 3px 3px;
  border-style: none solid solid;
  border-width: 0 1px 1px;
  padding: 15px;
}
.tpTag .TzItem .tpBody .tpArticleMedia {
  display: block;
  margin-bottom: 15px;
}
.tpTag .TzItem .tpBody .tpVote {
  display: block;
  line-height: 1;
  vertical-align: middle;
  margin-top: 15px;
}
.tpTag .TzItem .tpBody .tpVote .content_rating a.rating-item {
  color: #ffca28;
}
.tpTag .TzItem .tpBody .tpVote .content_rating .rating > .rating-item:hover span::before,
.tpTag .TzItem .tpBody .tpVote .content_rating .rating > .rating-item:hover ~ a span::before,
.tpTag .TzItem .tpBody .tpVote .content_rating .rating > .voted::before,
.tpTag .TzItem .tpBody .tpVote .content_rating .rating > .rating-item:hover::before,
.tpTag .TzItem .tpBody .tpVote .content_rating .rating > .rating-item:hover ~ .rating-item::before {
  content: "\f005";
  color: #ffca28;
}
.tpTag .TzItem .tpBody .tpVote .content_rating .TzVote-count {
  font-size: 100%;
  vertical-align: text-top;
}
.tpTag .TzItem .tpBody .tpArticleExtraField {
  margin-top: 15px;
}
.tpTag .TzItem .tpBody .tpArticleExtraField ul.tpExtraFields li.tp_extrafield-item {
  border-bottom: 1px solid #ebebeb;
}
.tpTag .TzItem .tpBody .tpArticleExtraField ul.tpExtraFields li.tp_extrafield-item div {
  display: inline-block;
}
.tpTag .TzItem .tpBody .charity {
  border: 1px solid #ebebeb;
  border-radius: 3px;
  margin-top: 15px;
  padding: 15px;
}
.tpTag .TzItem .tpBody .tpDescription {
  margin-top: 15px;
}
.tpTag .TzItem .tpLink {
  padding: 20px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
}
.tpTag .TzItem .tpLink .TzBlogMedia {
  margin: 0;
}
.tpBlog *,
.tpBlog *::before,
.tpBlog *::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.tpBlog .TzLetters {
  padding: 5px 10px;
  border: 1px dashed #ebebeb;
  background: #f9f9f9;
  border-radius: 3px;
}
.tpBlog .TzLetters .nav {
  margin: 0;
}
.tpBlog .TzLetters li a {
  padding: 3px 7px;
}
.tpBlog .tp-item-tools .btn-group.open .dropdown-toggle {
  box-shadow: none;
}
.tpBlog .tp-item-tools .btn {
  background: #f9f9f9;
  border: 1px solid #ebebeb;
  box-shadow: none;
}
.tpBlog .TzItemsRow .date-group {
  margin: 25px 0 10px;
}
.tpBlog .TzItemsRow .date-group .date {
  background: #ffcc80;
  padding: 5px 10px;
  border-radius: 3px;
  color: white;
  border: none;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}
.tpBlog .TzItemsRow .TzItem {
  margin: 20px 0 0;
}
.tpBlog .TzItemsRow .TzItem .reset-heading {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  clear: none;
  display: block;
  float: none;
  margin: 0;
  padding: 0;
  position: static;
  width: auto;
}
.tpBlog .TzItemsRow .TzItem .tpHead {
  border: 1px solid #ebebeb;
  border-radius: 3px 3px 0 0;
  padding: 15px;
}
.tpBlog .TzItemsRow .TzItem .tpHead .tpTitle {
  font-size: 21px;
  line-height: 1.2em;
}
.tpBlog .TzItemsRow .TzItem .tpHead .muted {
  color: #8b8b8b;
}
.tpBlog .TzItemsRow .TzItem .tpHead .tpMeta {
  margin: 10px 0 0;
}
.tpBlog .TzItemsRow .TzItem .tpHead .tpMeta div {
  display: inline-block;
  line-height: 1;
  margin: 0 10px 0 0;
  vertical-align: middle;
}
.tpBlog .TzItemsRow .TzItem .tpBody {
  border-color: currentcolor #ebebeb #ebebeb;
  border-image: none;
  border-radius: 0 0 3px 3px;
  border-style: none solid solid;
  border-width: 0 1px 1px;
  padding: 15px;
}
.tpBlog .TzItemsRow .TzItem .tpBody .tpArticleMedia {
  display: block;
  margin-bottom: 15px;
}
.tpBlog .TzItemsRow .TzItem .tpBody .tpVote {
  display: block;
  line-height: 1;
  vertical-align: middle;
  margin-top: 15px;
}
.tpBlog .TzItemsRow .TzItem .tpBody .tpVote .content_rating a.rating-item {
  color: #ffca28;
}
.tpBlog .TzItemsRow .TzItem .tpBody .tpVote .content_rating .rating > .rating-item:hover span::before,
.tpBlog .TzItemsRow .TzItem .tpBody .tpVote .content_rating .rating > .rating-item:hover ~ a span::before,
.tpBlog .TzItemsRow .TzItem .tpBody .tpVote .content_rating .rating > .voted::before,
.tpBlog .TzItemsRow .TzItem .tpBody .tpVote .content_rating .rating > .rating-item:hover::before,
.tpBlog .TzItemsRow .TzItem .tpBody .tpVote .content_rating .rating > .rating-item:hover ~ .rating-item::before {
  content: "\f005";
  color: #ffca28;
}
.tpBlog .TzItemsRow .TzItem .tpBody .tpVote .content_rating .TzVote-count {
  font-size: 100%;
  vertical-align: text-top;
}
.tpBlog .TzItemsRow .TzItem .tpBody .tpArticleExtraField {
  margin-top: 15px;
}
.tpBlog .TzItemsRow .TzItem .tpBody .tpArticleExtraField ul.tpExtraFields li.tp_extrafield-item {
  border-bottom: 1px solid #ebebeb;
}
.tpBlog .TzItemsRow .TzItem .tpBody .tpArticleExtraField ul.tpExtraFields li.tp_extrafield-item div {
  display: inline-block;
}
.tpBlog .TzItemsRow .TzItem .tpBody .charity {
  border: 1px solid #ebebeb;
  border-radius: 3px;
  margin-top: 15px;
  padding: 15px;
}
.tpBlog .TzItemsRow .TzItem .tpBody .tpDescription {
  margin-top: 15px;
}
.tpBlog .TzItemsRow .TzItem .tpLink {
  padding: 20px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
}
.tpBlog .TzItemsRow .TzItem .tpLink .TzBlogMedia {
  margin: 0;
}
.tpSearch *,
.tpSearch *::before,
.tpSearch *::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.tpSearch #searchForm .form-group {
  display: table;
  position: relative;
  border-collapse: separate;
  width: 100%;
}
.tpSearch #searchForm .form-group .form-control {
  display: table-cell;
  width: 100%;
  margin-bottom: 0;
  vertical-align: middle;
  float: left;
  height: auto;
  z-index: 1;
}
.tpSearch #searchForm .form-group .button-group {
  display: table-cell;
  position: absolute;
  white-space: nowrap;
  vertical-align: middle;
  right: 0;
  z-index: 2;
}
.tpSearch .tp-item-tools .btn-group.open .dropdown-toggle {
  box-shadow: none;
}
.tpSearch .tp-item-tools .btn {
  background: #f9f9f9;
  border: 1px solid #ebebeb;
  box-shadow: none;
}
.tpSearch .TzItemsRow .TzItem {
  margin: 20px 0 0;
}
.tpSearch .TzItemsRow .TzItem .reset-heading {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  clear: none;
  display: block;
  float: none;
  margin: 0;
  padding: 0;
  position: static;
  width: auto;
}
.tpSearch .TzItemsRow .TzItem .tpHead {
  border: 1px solid #ebebeb;
  border-radius: 3px 3px 0 0;
  padding: 15px;
}
.tpSearch .TzItemsRow .TzItem .tpHead .tpTitle {
  font-size: 21px;
  line-height: 1.2em;
}
.tpSearch .TzItemsRow .TzItem .tpHead .muted {
  color: #8b8b8b;
}
.tpSearch .TzItemsRow .TzItem .tpHead .tpMeta {
  margin: 10px 0 0;
}
.tpSearch .TzItemsRow .TzItem .tpHead .tpMeta div {
  display: inline-block;
  line-height: 1;
  margin: 0 10px 0 0;
  vertical-align: middle;
}
.tpSearch .TzItemsRow .TzItem .tpBody {
  border-color: currentcolor #ebebeb #ebebeb;
  border-image: none;
  border-radius: 0 0 3px 3px;
  border-style: none solid solid;
  border-width: 0 1px 1px;
  padding: 15px;
}
.tpSearch .TzItemsRow .TzItem .tpBody .tpArticleMedia {
  display: block;
  margin-bottom: 15px;
}
.tpSearch .TzItemsRow .TzItem .tpBody .tpVote {
  display: block;
  line-height: 1;
  vertical-align: middle;
  margin-top: 15px;
}
.tpSearch .TzItemsRow .TzItem .tpBody .tpVote .content_rating a.rating-item {
  color: #ffca28;
}
.tpSearch .TzItemsRow .TzItem .tpBody .tpVote .content_rating .rating > .rating-item:hover span::before,
.tpSearch .TzItemsRow .TzItem .tpBody .tpVote .content_rating .rating > .rating-item:hover ~ a span::before,
.tpSearch .TzItemsRow .TzItem .tpBody .tpVote .content_rating .rating > .voted::before,
.tpSearch .TzItemsRow .TzItem .tpBody .tpVote .content_rating .rating > .rating-item:hover::before,
.tpSearch .TzItemsRow .TzItem .tpBody .tpVote .content_rating .rating > .rating-item:hover ~ .rating-item::before {
  content: "\f005";
  color: #ffca28;
}
.tpSearch .TzItemsRow .TzItem .tpBody .tpVote .content_rating .TzVote-count {
  font-size: 100%;
  vertical-align: text-top;
}
.tpSearch .TzItemsRow .TzItem .tpBody .tpArticleExtraField {
  margin-top: 15px;
}
.tpSearch .TzItemsRow .TzItem .tpBody .tpArticleExtraField ul.tpExtraFields li.tp_extrafield-item {
  border-bottom: 1px solid #ebebeb;
}
.tpSearch .TzItemsRow .TzItem .tpBody .tpArticleExtraField ul.tpExtraFields li.tp_extrafield-item div {
  display: inline-block;
}
.tpSearch .TzItemsRow .TzItem .tpBody .charity {
  border: 1px solid #ebebeb;
  border-radius: 3px;
  margin-top: 15px;
  padding: 15px;
}
.tpSearch .TzItemsRow .TzItem .tpBody .tpDescription {
  margin-top: 15px;
}
.tpSearch .TzItemsRow .TzItem .tpLink {
  padding: 20px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
}
.tpSearch .TzItemsRow .TzItem .tpLink .TzBlogMedia {
  margin: 0;
}
.tpUser *,
.tpUser *::before,
.tpUser *::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.tpUser .reset-heading {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  clear: none;
  display: block;
  float: none;
  margin: 0;
  padding: 0;
  position: static;
  width: auto;
}
.tpUser .tp-item-tools .btn-group.open .dropdown-toggle {
  box-shadow: none;
}
.tpUser .tp-item-tools .btn {
  background: #f9f9f9;
  border: 1px solid #ebebeb;
  box-shadow: none;
}
.tpUser .tpArticleAuthor {
  margin-bottom: 30px;
}
.tpUser .tpArticleAuthor h3.tpArticleAuthorTitle {
  border-bottom: 2px solid #d0d0d0;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  margin: 20px 0;
  padding: 10px 0;
  text-transform: uppercase;
}
.tpUser .tpArticleAuthor .AuthorAvatar {
  width: 60px;
  height: 60px;
}
.tpUser .tpArticleAuthor .AuthorAvatar img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.tpUser .tpArticleAuthor .AuthorAvatar.tp-avatar-default {
  display: table;
  border-radius: 5px;
}
.tpUser .tpArticleAuthor .AuthorAvatar.tp-avatar-default .tpSymbol {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 25px;
  color: #ffffff;
}
.tpUser .tpArticleAuthor .tpavatar--bg-1 {
  background-color: #ffcdd2;
}
.tpUser .tpArticleAuthor .tpavatar--bg-1:hover {
  background-color: #ffcdd2;
}
.tpUser .tpArticleAuthor .tpavatar--bg-2 {
  background-color: #e1bee7;
}
.tpUser .tpArticleAuthor .tpavatar--bg-2:hover {
  background-color: #e1bee7;
}
.tpUser .tpArticleAuthor .tpavatar--bg-3 {
  background-color: #bbdefb;
}
.tpUser .tpArticleAuthor .tpavatar--bg-3:hover {
  background-color: #bbdefb;
}
.tpUser .tpArticleAuthor .tpavatar--bg-4 {
  background-color: #b2dfdb;
}
.tpUser .tpArticleAuthor .tpavatar--bg-4:hover {
  background-color: #b2dfdb;
}
.tpUser .tpArticleAuthor .tpavatar--bg-5 {
  background-color: #ffcc80;
}
.tpUser .tpArticleAuthor .tpavatar--bg-5:hover {
  background-color: #ffcc80;
}
.tpUser .tpArticleAuthor .tpAuthorContainer {
  display: table;
  height: 60px;
}
.tpUser .tpArticleAuthor .tpAuthorContainer .tpAuthorInfo {
  margin-right: 10px;
}
.tpUser .tpArticleAuthor .tpAuthorContainer .cell-col {
  display: table-cell;
  vertical-align: middle;
}
.tpUser .tpArticleAuthor .tpAuthorContainer .SocialLink a {
  color: #8b8b8b;
}
.tpUser .tpArticleAuthor .AuthorDescription {
  margin-top: 10px;
}
.tpUser .TzItemsRow .TzItem {
  margin: 20px 0 0;
}
.tpUser .TzItemsRow .TzItem .tpHead {
  border: 1px solid #ebebeb;
  border-radius: 3px 3px 0 0;
  padding: 15px;
}
.tpUser .TzItemsRow .TzItem .tpHead .tpTitle {
  font-size: 21px;
  line-height: 1.2em;
}
.tpUser .TzItemsRow .TzItem .tpHead .muted {
  color: #8b8b8b;
}
.tpUser .TzItemsRow .TzItem .tpHead .tpMeta {
  margin: 10px 0 0;
}
.tpUser .TzItemsRow .TzItem .tpHead .tpMeta div {
  display: inline-block;
  line-height: 1;
  margin: 0 10px 0 0;
  vertical-align: middle;
}
.tpUser .TzItemsRow .TzItem .tpBody {
  border-color: currentcolor #ebebeb #ebebeb;
  border-image: none;
  border-radius: 0 0 3px 3px;
  border-style: none solid solid;
  border-width: 0 1px 1px;
  padding: 15px;
}
.tpUser .TzItemsRow .TzItem .tpBody .tpArticleMedia {
  display: block;
  margin-bottom: 15px;
}
.tpUser .TzItemsRow .TzItem .tpBody .tpVote {
  display: block;
  line-height: 1;
  vertical-align: middle;
  margin-top: 15px;
}
.tpUser .TzItemsRow .TzItem .tpBody .tpVote .content_rating a.rating-item {
  color: #ffca28;
}
.tpUser .TzItemsRow .TzItem .tpBody .tpVote .content_rating .rating > .rating-item:hover span::before,
.tpUser .TzItemsRow .TzItem .tpBody .tpVote .content_rating .rating > .rating-item:hover ~ a span::before,
.tpUser .TzItemsRow .TzItem .tpBody .tpVote .content_rating .rating > .voted::before,
.tpUser .TzItemsRow .TzItem .tpBody .tpVote .content_rating .rating > .rating-item:hover::before,
.tpUser .TzItemsRow .TzItem .tpBody .tpVote .content_rating .rating > .rating-item:hover ~ .rating-item::before {
  content: "\f005";
  color: #ffca28;
}
.tpUser .TzItemsRow .TzItem .tpBody .tpVote .content_rating .TzVote-count {
  font-size: 100%;
  vertical-align: text-top;
}
.tpUser .TzItemsRow .TzItem .tpBody .tpArticleExtraField {
  margin-top: 15px;
}
.tpUser .TzItemsRow .TzItem .tpBody .tpArticleExtraField ul.tpExtraFields li.tp_extrafield-item {
  border-bottom: 1px solid #ebebeb;
}
.tpUser .TzItemsRow .TzItem .tpBody .tpArticleExtraField ul.tpExtraFields li.tp_extrafield-item div {
  display: inline-block;
}
.tpUser .TzItemsRow .TzItem .tpBody .charity {
  border: 1px solid #ebebeb;
  border-radius: 3px;
  margin-top: 15px;
  padding: 15px;
}
.tpUser .TzItemsRow .TzItem .tpBody .tpDescription {
  margin-top: 15px;
}
/*# sourceMappingURL=template.css.map */